<p>Submission files should be formatted as follows:</p>
<ul>
    <li>Have a header: "User,Events"</li>
    <li>Contain two columns
        <ul>
            <li><b>User</b>: user ids in sorted order</li>
            <li><b>Events</b>: space-delimited list of recommended events, from those the user would be most-interested in to those the user would be least-interested in </li>
        </ul>
    </li>
</ul>

<p>First couple lines of a sample submission:</p>

<div style="padding: 15px; background-color:#F4F4F4;">
    User,Events<br>
    3044012,2529072432<br>
    4236494,152418051 799782433<br>
    5574997,941853303<br>
</div>